body {
    font-family: sans-serif;
}

.cityMap {
    padding: 20px 40px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 40px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 40px 0.6fr 40px 1fr;

    border: solid black 2px;
}

.cityMapImage {
    width: 100%;
    grid-row: 1/8;
    grid-column: 1/7;
}

.cityMapMarker1 {
    border-radius: 5%;
    grid-row: 5/6;
    grid-column: 3/4;
    z-index: 1;
    margin-top: 15px;
    margin-bottom: -15px;
    margin-right: -12px;
    margin-left: 12px;

    border: solid rgb(71, 255, 47) 4px;
    background-color: yellow;
}

.cityMapMarker2 {
    border-radius: 5%;
    grid-row: 3/4;
    grid-column: 3/4;
    z-index: 2;
    margin-top: 30px;
    margin-bottom: -30px;
    margin-right: -3px;
    margin-left: 3px;

    border: solid rgb(71, 255, 47) 4px;
    background-color: yellow;
}

.infoBox {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 1px;
    margin-top: 20px;
    height: 50px;
    padding-bottom: 10px;

    border: solid black 2px;
}